body{
  background :url("../img/1.jpg");
  background-size: cover;
  font-family: Hiragino Sans GB,STHeiti,Microsoft Yahei,sans-serif !important;
  & h1{
    text-align: center;
    color: #F75C2F;
    margin:10% auto;
  }
}